.dot {
    position: absolute;
    border: 2px solid #000;
    border-radius: 100%;
    background-color: red;
    overflow: hidden;
    z-index: 1; /* Start with a default z-index */
    top: 50px;
    left: 50px;
    width: 16px;
    height: 16px;
}

.circle {
    z-index: -1;
    fill-opacity: 0;
    border: 1px solid #0044ff;    
    border-radius: 100%;
    position: absolute;
}

#dot1 {
    top: 50px;
    left: 50px;
}

#dot2 {
    top: 50px;
    left: 150px;
}

#dot3 {
    top: 150px;
    left: 50px;
}